<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
            {{ encore_entry_link_tags('bootstedmincss') }}
            {{ encore_entry_link_tags('nprogressmin') }}
            {{ encore_entry_link_tags('datepicker') }}
        {% endblock %}
        {# <script src="/build/cryptojs-aes-format.js"></script>
        <script src="/build/cryptojs-aesmin.js"></script> #}
    </head>
    <body>
        {% block body %}

        <div id="app"></div>

        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('jqueryslim') }}
            {{ encore_entry_script_tags('popermin') }}
            {{ encore_entry_script_tags('jquerytablesortermin') }}
            {{ encore_entry_script_tags('bootstedminjs') }}
            {{ encore_entry_script_tags('index') }}
            {# {{ encore_entry_script_tags('cryptojs-aesmin') }}
            {{ encore_entry_script_tags('cryptojs-aes-format') }} #}
        {% endblock %}
    </body>
</html>
